/** BOX MODULE **/
.row { margin-left: -20px; }
	.row:before, 
	.row:after { display: table; content: ""; }
	.row:after { clear: both; }

.row-fluid { width: 100%; }
	.row-fluid:before, 
	.row-fluid:after { display: table; content: ""; }
	.row-fluid:after { clear: both; }
	.row-fluid [class*="span"]:first-child { margin-left: 0; }
	.row-fluid [class*="span"] { display: block; width: 100%; min-height: 28px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.127659574%; }

.box { margin-bottom: 20px; -webkit-box-shadow: 0 3px 15px rgba(0,0,0,.6); -moz-box-shadow: 0 3px 15px rgba(0,0,0,.6); box-shadow: 0 3px 15px rgba(0,0,0,.6); background-color: #7b409b; position: relative; overflow: hidden; }
	.box .btn { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); background-color: #9258b1; background-image: -moz-linear-gradient(top,#a167c0,#7b409b); background-image: -ms-linear-gradient(top,#a167c0,#7b409b); background-image: -webkit-gradient(linear,0 0,0 100%,from(#a167c0),to(#7b409b)); background-image: -webkit-linear-gradient(top,#a167c0,#7b409b); background-image: -o-linear-gradient(top,#a167c0,#7b409b); background-image: linear-gradient(top,#a167c0,#7b409b); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a167c0',endColorstr='#7b409b',GradientType=0); border-color: #7b409b #7b409b #502a65; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
	.box a { color: #7b409b; }
	.box p:last-child { margin: 0; }

.tl, 
.tm, 
.tr, 
.bl, 
.bm, 
.br { height: 10px; }

.tl, 
.tr, 
.bl, 
.br { background: url('../_images/texture_corners.png') no-repeat; }

.tl, 
.tr, 
.bl, 
.br { background: url('../_images/texture_corners.png') no-repeat; }

.tr, 
.mr, 
.br { padding: 0 10px; }

.tl, 
.tm, 
.tr, 
.bl, 
.bm, 
.br { height: 10px; }

.tm, 
.bm { background: url('../_images/texture_tm_bm.png') repeat-x; }

.ml { background: url('../_images/texture_ml.png') repeat-y left top; }
.mr { background: url('../_images/texture_mr.png') repeat-y right top; }

.tr, 
.mr, 
.br { padding: 0 10px; }

.tl { background-position: left 0; }
.tr { background-position: right -10px; }
.tm { background-position: left top; }

.bl { background-position: left -20px; }
.br { background-position: right -30px; }
.bm { background-position: left bottom; }

.mm { background: url('../_images/texture_mm.png') repeat left top; }
.mm { padding: 10px; overflow: hidden; position: relative; }

/** COLOR PROFILES **/
.blue { background-color: #4f73ad; }
	.blue ::selection { background: #4f73ad; color: #fff; text-shadow: none; }
	.blue h1, 
	.blue h2, 
	.blue h3, 
	.blue h4, 
	.blue h5, 
	.blue h6, 
	.blue a, 
	.blue legend, 
	.blue .quote { color: #4f73ad; }
	.blue .btn { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); background-color: #6e8cbc; background-image: -moz-linear-gradient(top,#829cc6,#4f73ad); background-image: -ms-linear-gradient(top,#829cc6,#4f73ad); background-image: -webkit-gradient(linear,0 0,0 100%,from(#829cc6),to(#4f73ad)); background-image: -webkit-linear-gradient(top,#829cc6,#4f73ad); background-image: -o-linear-gradient(top,#829cc6,#4f73ad); background-image: linear-gradient(top,#829cc6,#4f73ad); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#829cc6',endColorstr='#4f73ad',GradientType=0); border-color: #4f73ad #4f73ad #375078; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.orange { background-color: #fa8a1d; }
	.orange ::selection { background: #fa8a1d; color: #fff; text-shadow: none; }
	.orange h1, 
	.orange h2, 
	.orange h3, 
	.orange h4, 
	.orange h5, 
	.orange h6, 
	.orange a, 
	.orange legend, 
	.orange .quote { color: #fa8a1d; }
	.orange .btn { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); background-color: #fba14a; background-image: -moz-linear-gradient(top,#fcb168,#fa8a1d); background-image: -ms-linear-gradient(top,#fcb168,#fa8a1d); background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcb168),to(#fa8a1d)); background-image: -webkit-linear-gradient(top,#fcb168,#fa8a1d); background-image: -o-linear-gradient(top,#fcb168,#fa8a1d); background-image: linear-gradient(top,#fcb168,#fa8a1d); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb168',endColorstr='#fa8a1d',GradientType=0); border-color: #fa8a1d #fa8a1d #c66404; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.red { background-color: #d13e58; }
	.red ::selection { background: #d13e58; color: #fff; text-shadow: none; }
	.red h1, 
	.red h2, 
	.red h3, 
	.red h4, 
	.red h5, 
	.red h6, 
	.red a, 
	.red legend, 
	.red .quote { color: #d13e58; }
	.red .btn { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); background-color: #da4f49; background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f); background-image: -ms-linear-gradient(top,#ee5f5b,#bd362f); background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f)); background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f); background-image: -o-linear-gradient(top,#ee5f5b,#bd362f); background-image: linear-gradient(top,#ee5f5b,#bd362f); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b',endColorstr='#bd362f',GradientType=0); border-color: #bd362f #bd362f #802420; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.teal { background-color: #13a999; }
	.teal ::selection { background: #13a999; color: #fff; text-shadow: none; }
	.teal h1, 
	.teal h2, 
	.teal h3, 
	.teal h4, 
	.teal h5, 
	.teal h6, 
	.teal a, 
	.teal legend, 
	.teal .quote { color: #13a999; }
	.teal .btn { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); background-color: #49afcd; background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4); background-image: -ms-linear-gradient(top,#5bc0de,#2f96b4); background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4)); background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4); background-image: -o-linear-gradient(top,#5bc0de,#2f96b4); background-image: linear-gradient(top,#5bc0de,#2f96b4); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0); border-color: #2f96b4 #2f96b4 #1f6377; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.green { background-color: #5dba44; }
	.green ::selection { background: #5dba44; color: #fff; text-shadow: none; }
	.green h1, 
	.green h2, 
	.green h3, 
	.green h4, 
	.green h5, 
	.green h6, 
	.green a, 
	.green legend, 
	.green .quote { color: #5dba44; }
	.green .btn { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); background-color: #5bb75b; background-image: -moz-linear-gradient(top,#62c462,#51a351); background-image: -ms-linear-gradient(top,#62c462,#51a351); background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351)); background-image: -webkit-linear-gradient(top,#62c462,#51a351); background-image: -o-linear-gradient(top,#62c462,#51a351); background-image: linear-gradient(top,#62c462,#51a351); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462',endColorstr='#51a351',GradientType=0); border-color: #51a351 #51a351 #387038; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }